<div class="container">
  <h1>Settings</h1>
  <p>Contrôle du comportement de la blockchain à l'ajout de nouvelles transactions et création de blocs.
  <br>

  <div class="form-group">
    <label for="difficulty">Difficulty</label>
    <input type="number" class="form-control" id="difficulty" aria-describedby="difficultyHelp" [(ngModel)]="blockchain.difficulty">
    <small id="difficultyHelp" class="form-text text-muted">
    	
      La difficulté controlle la durée du processus de minage. Plus elle est élevée plus le minage sera lent
    	<br>Default: 2
    </small>
  </div>

  <br>

  <div class="form-group">
    <label for="miningReward">Mining reward</label>
    <input type="number" class="form-control" id="miningReward" aria-describedby="miningRewardHelp" [(ngModel)]="blockchain.miningReward">
    <small id="miningRewardHelp" class="form-text text-muted">
		
    Le nombre de "coins" qu'un mineur reçois pour avoir créer un nouveau block avec succès.
		<br>Default: 100
    </small>
  </div>

</div>
